{% extends 'base2.html' %}

{% block title %}

admin login page

{% endblock title %}

{% block body %}
<div class="container mt-5">
<div class="row">
   


    <div class="col-md-4"></div>
    <div class="col-md-4 mt-2 jumbotron" id="form_entry" style="background-color:#354f52;color:white">
        
        <h1 class="text-center bg-dark text-white">ADMIN LOGIN </h1>
        
        {% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}
        <form action="/adminlogin" method="post">
            
            <div class="mb-3">
              <h2><label for="email" class="form-label  text-white">Email address :</label></h2>
              <input type="email" class="form-control" id="email" name="adminemail" placeholder="enter the email address" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
             <h2><label for="password" class="form-label text-white">Password :</label></h2>
              <input type="password" class="form-control" placeholder="enter the password" name="adminpassword" id="password">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            <br>
            Not a ADMIN <a href="/login">USER LOGIN</div> 
          </form>
        <!--new user doesn't have account <a href="/signup">singup here</a>-->
    </div>
    <div class="col-md-4"></div>

</div>  

</div>
{% endblock body %}
